<%- include('../partials/header'); -%>
<body class="about-us">
  <div class="blog-container compose-container">
    <h1 class="post-title compose-hero">
      About us
  </h1>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro praesentium magni aliquam quis! Harum fugit ad reprehenderit consequatur soluta, dolorum temporibus velit, ducimus minus, voluptatibus tenetur dolor. Debitis, rem minus.
    Aut temporibus dolore commodi aperiam illo dicta, minima enim, provident magnam porro explicabo soluta laboriosam voluptatibus recusandae, eveniet sit minus voluptatem quos. Atque voluptatibus, numquam corrupti vel deserunt recusandae accusamus.
    Qui exercitationem, sit facilis laborum explicabo, itaque dolore enim hic in ab earum perferendis expedita architecto, ducimus minus? Maiores eum aliquam velit corporis explicabo quis iure minima debitis quia dolor.
    Aut non porro animi. Laborum voluptas reiciendis, laudantium nemo inventore soluta sit. Perferendis eum ipsam nihil. Illum dolorum ut expedita aperiam impedit molestiae ab adipisci soluta debitis. Ipsam, ab laudantium.
    Totam, provident. Laborum, ut dignissimos. Odit doloribus atque error dolores repudiandae quidem debitis, amet suscipit recusandae cumque fugit. Ipsam eius recusandae quae animi quam adipisci, blanditiis ducimus incidunt ab. In?
    Voluptate perspiciatis doloremque culpa mollitia nesciunt, ad quos quisquam in hic esse quia veritatis voluptatem eveniet minus quam, deleniti, repudiandae excepturi quo magni voluptatum. Sint rerum placeat nesciunt amet repudiandae.</div>
    
  </div>
</body>
<%- include('../partials/menu-burger'); -%>
